{% extends "Shifts/base.html" %}
{% block content %}

    <h1>AI-Scheduler</h1>

<section id="introblocks">
      <div class="sectiontitle">
        <h6 class="heading">About Us</h6>
        <p>AI Scheduler will provide an easy way to create a shifts board for the managers and the workers.</p>
      </div>
      <ul class="nospace group">
        <li class="one_third first">
          <article><a href="#"><i class="fas fa-allergies"></i></a>
            <h6 class="heading">Create Weekly Shift Schedules </h6>
            <p>Nowadays, most of the process of creating shifts schedules is a tedious process for employers and employees.
                AI-Scheduler will compute a work schedule for workers based on their roles, preferences, restrictions, etc.[&hellip;]</p>

          </article>
        </li>
        <li class="one_third">
          <article><a href="#"><i class="fas fa-cube"></i></a>
            <h6 class="heading">Shift Schedule Suggestion</h6>
            <p>The AI-Schedule will use a ML algorithm that will learn the cyclical's shift the employee chose when worker will fill up his\er shift board, and the
                systems will automatically suggest a shift board in the next time the
                employee will need to fill up the shift schedule. [&hellip;]</p>

          </article>
        </li>
        <li class="one_third">
          <article><a href="#"><i class="fas fa-podcast"></i></a>
            <h6 class="heading">Workers Managing Site</h6>
            <p>The AI-Schedule will include a site that will allow the manager or team leader to manage and supervise the projects and tasks for each
                employee. The manager will be able to write notes, set deadlines, see the employee progressing, etc. [&hellip;]</p>
          </article>
        </li>
      </ul>
    </section>
{% endblock content %}
