{% extends "Shifts/base.html" %}
{% block content %}

<body style="background-image: url(../static/Shifts/css/back.jpg);background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">
        <section class="first-section">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="text-content">
                  <h2 style="text-align: left;"><strong>                 </strong></h2>
                  <div></div>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="second-section">
          <div class="container">
            <div style="padding-bottom: 120px" class="row">
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <div class="icon">
                    <img src="sched.png" alt="">
                  </div>
                  <h4>Create Weekly Shift Schedules </h4>
                  <p>Nowadays, most of the process of creating shifts schedules is a tedious process for employers and employees.
                AI-Scheduler will compute a work schedule for workers based on their roles, preferences, restrictions, etc.</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <div class="icon">
                    <img src="img/second-icon.png" alt="">
                  </div>
                  <h4>Shift Schedule Suggestion</h4>
                  <p>The AI-Schedule will use a ML algorithm that will learn the cyclical's shift the employee chose when worker will fill up his\er shift board, and the
                systems will automatically suggest a shift board in the next time the
                employee will need to fill up the shift schedule.</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <div class="icon">
                    <img src="img/third-icon.png" alt="">
                  </div>
                  <h4>Swap Shifts Easily</h4>
                  <p>With AI Schedule, workers can easily swap shifts with eachothers.
                    And the manager be able to supervise and approve the shift’s changes.
                  </p>
                </div>
              </div>
              </div>
			  </div>
        </section>




        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        </body>
{% endblock content %}
